{% extends 'base.html'%}

{% block title %}Post Information{% endblock %}

{% block content %}
<div class="post-info">
    
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <b>By {{post.user.first_name}} {{post.user.last_name}} on {{post.friendly_date}}</b>
    <br>
    <b>Tags:</b>
    {% for tag in tags %}
    <p>{{tag.name}}</p>
    {% endfor %}
    <form>
    <button formmethod="get" 
    formaction='/users/{{post.user.id}}'>Cancel</button>
    <button  formmethod="get" 
    formaction='/posts/{{post.id}}/edit'>Edit</button>
    <button 
    formmethod="POST"
    formaction="/posts/{{post.id}}/delete">Delete
</button>
</form>

</div>




{% endblock %}
