{% extends 'base.html'%}
{% block title %}User Info{% endblock %}

{% block content %}
<div class="user-img">
<img src="{{user.image_url}}" alt="">
</div>
<div class="user-info">
<h2>{{user.first_name}} {{user.last_name}}</h2>
<button onclick="window.location.href='/users/{{user.id}}/delete'">Delete</button>
<button onclick="window.location.href='/users/{{user.id}}/edit'">Edit</button>
</div>
<div class="user-posts">
    <h3>Posts</h3>
    <ul>
        {% for post in posts %}
        <li>{{post.title}}</li>
        {% endfor %}
       
    </ul>
    <button onclick="window.location.href='/users/{{user.id}}/posts/new'">Add Post</button>

</div>



{% endblock %}